<h1>All Tickets</h1>	

<div class="ticket_block">
	<div class="row">		

		<div class="col-md-2">
			<img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl={{id}}&amp;choe=UTF-8" alt="QR code">
		</div>
		<div class="col">
			<div>
				
				<h3>Ticket nr.: {{id}}</h3>			
				<mark>Buyer:</mark> {{buyer}}
				({{date_of_buying}})<br>
			</div>
			<hr>
			<div class="detail_block">
				<h4>Event detail</h4>
				
				 <img class="card-img-right flex-auto d-none d-block" src="https://picsum.photos/200/150">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, eligendi assumenda iure. Exercitationem molestias eum officia unde quidem odit, nesciunt numquam magni nulla nam ullam temporibus vel ipsa nemo earum.</p>
				<mark>Date & time:</mark> 01.09.2021 12:00

			</div>
			
		
		</div>
	</div>
	<div class="row ">
		<div class="col action_block">
			<button class="btn btn-success">A</button>
			<button class="btn btn-warning">B</button>
			<button class="btn btn-danger">C</button>
		</div>
	</div>
</div>
